COMPANY_NAME="KINGSHADP"
SITE_NAME="KINGSHADP"
SHOPIFY_REVALIDATION_SECRET="a787a318284907fa027af10dcda5db3795878cac"
SHOPIFY_STOREFRONT_ACCESS_TOKEN="785c68c04b73d36d6af061bb07f1d5b0"
SHOPIFY_STORE_DOMAIN="u9asdx-ej.myshopify.com"
ADMIN_PASSCODE=""
ADMIN_SESSION_SECRET=""
ADMIN_API_TOKEN=""
BLOB_STORE_ID="store_BagAaSNLccdObSzI"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_BagAaSNLccdObSzI_TXmJcDKRQf4SaTyD5DFeaFHwsVC42P"